{% extends 'base-backend.html.twig' %}

{% block title %}Liens Utiles index{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1 class="d-inline-block">Liens Utiles index</h1>
    <a href="{{ path('app_admin_liens_utiles_new') }}" class="btn btn-success">Nouveau</a>
    </div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liens_utile in liens_utiles %}
            <tr>
                <td>{{ liens_utile.id }}</td>
                <td>{{ liens_utile.nom }}</td>
                <td>{{ liens_utile.url }}</td>
                <td>
                    <a href="{{ path('app_admin_liens_utiles_show', {'id': liens_utile.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_liens_utiles_edit', {'id': liens_utile.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de liens utiles dans la BDD</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
