{% extends 'base-backend.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Projet index</h1>
    <a href="{{ path('app_admin_projet_new') }}" class="btn btn-success">Nouveau</a>
</div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                {# <th>Texte</th> #}
                <th>Actif</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>
                    <a href="{{asset('images/projet/' ~ projet.imageName)}}" data-lightbox="image {{loop.index}}">
                    <img src="{{asset('images/projet/' ~ projet.imageName)}}" class="img-admin-list">
                </td>
                <td>{{ projet.nom }}</td>
                {# <td>{{ projet.texte|raw }}</td> #}
                <td>{{ projet.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ projet.updatedAt ? projet.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_projet_show', {'id': projet.id}) }}"class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_projet_edit', {'id': projet.id}) }}"class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de projet en BDD</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
