{% extends 'base-backend.html.twig' %}

{% block title %}Caroussel index{% endblock %}

{% block body %}
    <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1 class="d-inline-block">Caroussel index</h1>
        <a href="{{ path('app_admin_carousel_new') }}" class="btn btn-success">Nouveau</a>
    </div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Tag</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carousel in carousels %}
            <tr>
                <td>{{ carousel.id }}</td>
                <td>
                    <a href="{{asset('images/carousel/' ~ carousel.imageName)}}" data-lightbox="image {{loop.index}}">
                        <img src="{{asset('images/carousel/' ~ carousel.imageName)}}" class="img-admin-list">
                    </a>
                </td>
                <td>{{ carousel.titre }}</td>
                <td>{{ carousel.texte }}</td>
                <td>{{ carousel.tag }}</td>
                <td>{{ carousel.updatedAt ? carousel.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_carousel_show', {'id': carousel.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i> </a>
                    <a href="{{ path('app_admin_carousel_edit', {'id': carousel.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun carousel dans la base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}