{% extends 'base-backend.html.twig' %}

{% block title %}Activité index{% endblock %}

{% block body %}
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Activité index</h1>
    <a href="{{ path('app_admin_activite_new') }}"class="btn btn-success">Nouveau</a>
</div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                {# <th>Texte</th> #}
                <th>Actif</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activite in activites %}
            <tr>
                <td>{{ activite.id }}</td>
                <td>
                    <a href="{{asset('images/activite/' ~ activite.imageName)}}" data-lightbox="image {{loop.index}}">
                    <img src="{{asset('images/activite/' ~ activite.imageName)}}" class="img-admin-list">

                </td>
                <td>{{ activite.nom }}</td>
                {# <td>{{ activite.texte|raw }}</td> #}
                <td>{{ activite.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ activite.updatedAt ? activite.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                
                <td>
                    <a href="{{ path('app_admin_activite_show', {'id': activite.id}) }}"class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_activite_edit', {'id': activite.id}) }}"class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas d'activité dans la BDD</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
