{% extends 'base-backend.html.twig' %}

{% block title %}Accueil index{% endblock %}

{% block body %}
    
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h1 class="d-inline-block">Accueil index</h1>
        <a href="{{ path('app_admin_home_new') }}" class="btn btn-success">Nouveau</a>
    </div>
    <table class="table table-index table-striped table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Titre</th>
                {# <th>Texte</th> #}
                {# th>Signature</th> #}
                <th>Mise à jour</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td>{{ home.id }}</td>
                <td>
                    {% if home.imageName is not null %}
                    <a href="{{asset('images/home/' ~ home.imageName)}}" data-lightbox="image {{loop.index}}">
                    <img src="{{asset('images/home/' ~ home.imageName)}}" alt="" class="img-admin-list">
                    </a>
                    {% endif %}               

                </td>
                <td>{{ home.titre }}</td>
                {# <td>{{ home.texte }}</td> #}
                <td>{{ home.updatedAt ? home.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ home.isActive ? 'Yes' : 'No' }}</td>
                {# <td>{{ home.signature }}</td> #}
                <td>
                    <a href="{{ path('app_admin_home_show', {'id': home.id}) }}" class="btn btn-dark"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_home_edit', {'id': home.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-2"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun accueil dans la BDD</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
